body {
    margin: 0;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

body {
    font-family: Monospace;
    background-color: #000;
    color: #fff;
    margin: 0px;
    overflow: hidden;
}

#info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}

#info a {
    color: #046;
    font-weight: bold;
}

.loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    background: url("../images/bg.jpg") no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.animated {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    padding: 10% 10% 5% 10%;
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.play{
    display: none;
    position: relative;
    width: 100%;
    margin-top: 20%;

}
.play h1{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: 5px solid white;
    padding: 1% 2% 1% 2%;
    font-weight: bolder;
    font-size: 4em;
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}
.play h1:hover{
    cursor: pointer;
}
/************************** Sound ******************************/
.speaker{
    position: absolute;
    z-index: 999999;
    font-size: 2em;
    margin: 1%;
}
.speaker:hover{
    cursor: pointer;
}
.volicon{
    float: left;
    position: relative;
}
/************************ Panel ***************************/
.panel{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: 0.7;
    z-index: 999999;
    display: none;
}
/************************ Compass ********************************/

.compass {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 5px auto;
    background: #222;
    padding: 5px;
    border-radius: 40px;
    border: 5px solid #444;
    overflow: hidden;
}

.compass .disc {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 200;
    background: url('../images/compass.svg');
    width: 60px;
    height: 60px;
    background-size: 100%;
}

.compass .arrow {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1000;
    background: url('../images/arrow.svg');
    width: 60px;
    height: 60px;
    background-size: 100%;
}

/**** Volume **/
.volume {
    z-index: 999999;
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: -55px;
    margin-top: 50px;
    display: none;
}

.volume:hover {
    opacity: 1;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.volume::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
/****************************************************************/
.boxes {
    font-family: 'Black Han Sans', sans-serif;
    float: left;
    padding: 5px;
    color: white;
    font-size: 15px;
    margin: 0 20px;
}

.info_circle {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: #222;
    padding: 5px;
    border-radius: 50%;
    border: 5px solid #444;
    overflow: hidden;
    cursor: pointer;

}

.info_circle .indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 10px;
}

.indicator-active {
    background-color: orange;
}

.indicator-deactive {
    background-color: #616161;
}

#speed_value, #throttle_value, #altitude_value {
    font-size: 40px;
}

/**********Range ********************/
.range {
    float: left;
    /*/padding: 5px;*/
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.range-line {
    height: 4px;
    width: 36px;
    margin-bottom: 3px;
    background-color: #d3d3d3;
}

.range-line-active {
    background-color: #00aa00;
}


/************* Volume *************************/
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 24px;
}

.switch input {
    display: none;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #616161;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 50px;
    left: 4px;
    bottom: 4px;
    background-color: orange;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .switch-slider {
    background-color: #616161;
}

input:focus + .switch-slider {
    box-shadow: 0 0 1px #616161;
}

input:checked + .switch-slider:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
}

/* Rounded switch-sliders */
.switch-slider.round {
    border-radius: 34px;
}

.switch-slider.round:before {
    border-radius: 34px;

}

.toggle-container {
    position: relative;
    margin: 5px auto;
    float: left;
}

.music-switch-text {
    position: relative;
    bottom: 7px;
    color: white;
    font-size: 15px;
}

/****************** Valami meter  **********************/
.disc-meter {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 200;
    background: url('http://flightarcade.com/images/hud/attitude.png');
    width: 70px;
    height: 70px;
    background-size: 100%;
}

.bottom-meter {
    position: absolute;
    top: 30px;
    left:-65px;
    background: #9e978e;
    height: 80px;
    width: 200px;
    opacity: .6;
    transform-origin: 50% 0px;
}
/**************************************************************/
.footer-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}
/*****************************************/
.pause-btn{
    position: absolute;
    top: 8px;
    left: 9px;
    z-index: 200;
    background: url(../images/pause-button.svg);
    width: 32px;
    height: 32px;
    background-size: 100%;

}
/*************** Bootstrap corection*****************/
label, input{
    padding: 0;
    margin: 0;
}

.timer{
    display: none;
    position: absolute;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    left: 5%;
    top: 1%;
    font-size: 30px;

}
/************************** Game Over ****************************/
.game-over,.game-win{
    z-index: 999999999999999;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 20px solid red;
    background-color: #616161;
    opacity: 0.8;
}


@keyframes as {
    0% {
        opacity: 0;
    }
    10% {
        opacity: .3;
    }
    20% {
        opacity: .1;
    }
    30% {
        opacity: .5;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: .8;
    }
    55% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
}

@keyframes asd {
    0% {
        top: -20%;
    }
    100% {
        top: 100%;
    }
}

.blinking {
    z-index: 3;
    position: absolute;
    font: bold 200px/200px Arial, sans-serif;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    width: 100%;
    margin-left: -50%;
    height: 200px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 30px rgba(0, 0, 0, .8);
    animation: asdd 2s linear infinite;
}

.try-again, .game-menu{
    float: left;
    margin:  0 10px;
    border: 10px solid white;
    padding: 10px 20px 10px 20px;
    opacity: 0.6;

}

.try-again:hover, .game-menu:hover{
    opacity:1;
    cursor: pointer;
}

@keyframes asdd {
    0% {
        text-shadow: 0 0 30px rgba(0, 0, 0, .8);
    }
    33% {
        text-shadow: 0 0 10px rgba(0, 0, 0, .6);
    }
    66% {
        text-shadow: 0 0 20px rgba(0, 0, 0, .4);
    }
    100% {
        text-shadow: 0 0 40px rgba(0, 0, 0, 1);
    }
}

.game-btn-container{
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    font-size: 50px;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    margin-top: 50px;
    margin-left: auto;
}
/***************** START PAGE ****************/

.index-start{
    font-family: 'Black Han Sans', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/index-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.index-play{
    position: absolute;
    font-size: 7em;
    padding: 30px 5%;
    border: 10px solid #d3d3d3;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    color: #d3d3d3;
}
.index-play:hover{
    color: white;
    border-color: white;
}
.autor{
    position: absolute;
    bottom: 2%;
    right: 2%;
    font-size: 20px;
    font-style: italic;
}